// Ecran Iphone 5/6/7/8 et X
$screen-vieuxIphone: 376px
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px
// Small tablets (portrait view)
$screen-md-min: 768px
// Tablets and small desktops
$screen-lg-min: 992px
// Large tablets and desktops
$screen-xl-min: 1200px

@mixin vieuxIphone
    @media (min-width: #{$screen-vieuxIphone})
        @content
// Small devices
@mixin sm
    @media (min-width: #{$screen-sm-min})
        @content
// Medium devices
@mixin md
    @media (min-width: #{$screen-md-min})
        @content
// Large devices
@mixin lg
    @media (min-width: #{$screen-lg-min})
        @content
// Extra large devices
@mixin xl
    @media (min-width: #{$screen-xl-min})
        @content
// Custom devices
@mixin rwd($screen)
    @media (min-width: $screen+'px' )
        @content

$nav_footerColor: white

#navBar
    position: fixed
    transition: .4s
    z-index: 300
    top: 0
    width: 100%
    ul
        list-style-type: none
        overflow: hidden
        padding: 2vh
        margin: 0
        background-color: $nav_footerColor
        border-bottom: solid 3px #E57A44
        div
            display: block
            text-align: center
            @include md
                display: inline
            li
                display: inline
                a
                    position: relative
                    display: inline-block
                    text-decoration: none
                    color: #272838
                    padding: 1vh 2vh
                    &::before
                        content: ""
                        position: absolute
                        width: 100%
                        height: 2px
                        bottom: 0
                        left: 0
                        background-color: #000
                        visibility: hidden
                        transform: scaleX(0)
                        transition: all 0.3s ease-in-out 0s
                    &:hover::before
                        visibility: visible
                        transform: scaleX(1)
        .active
            &::after
                content: ""
                position: absolute
                width: 100%
                height: 2px
                bottom: 0
                left: 0
                background-color: #000
                visibility: visible

    button
        border: none
        outline: none
        background-color: $nav_footerColor
        font-family: 'Times New Roman', Times, serif
        font-size: 16px
        &:hover
            cursor: pointer

footer
    background-color: $nav_footerColor
    display: flex
    align-items: center
    justify-content: center
    a
        color: black
        margin: 0 1vh
    a:link
        text-decoration: none
    a:visited
        text-decoration: none
