@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,300&family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,300&family=Slabo+27px&display=swap");
.navBar {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
}
.navBar ul {
  list-style-type: none;
  overflow: hidden;
  padding: 2vh;
  margin: 0;
  background-color: white;
  border-bottom: solid 3px #E57A44;
}
.navBar li {
  display: inline;
}
.navBar li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #272838;
  padding: 1vh 2vh;
}
.navBar li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.navBar li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.navBar li .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: visible;
}
.navBar button {
  border: none;
  outline: none;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
.navBar button:hover {
  cursor: pointer;
}

footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  color: black;
  margin: 0 1vh;
}
footer a:link {
  text-decoration: none;
}
footer a:visited {
  text-decoration: none;
}

#accueil {
  width: 100%;
  overflow: hidden;
  height: 90vh;
  display: flex;
  align-items: center;
}
#accueil .card {
  padding: 0.5vh;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  box-shadow: white 8px -8px 0px -3px, #2d2a32 8px -8px, -19px 17px 0px 0px;
}
@media (min-width: 992px) {
  #accueil .card {
    width: 70%;
  }
}
#accueil .card .content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  #accueil .card .content {
    flex-direction: row;
  }
}
#accueil .card .content .textTrans {
  padding: 3vh;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  mix-blend-mode: screen;
  line-height: 200%;
}
@media (min-width: 992px) {
  #accueil .card .content .textTrans {
    margin: 1vh;
    margin-right: 3vh;
    padding-bottom: 8vh;
    width: 45%;
  }
}
#accueil .card p {
  font-family: "Cormorant Garamond", serif;
  margin-top: auto;
  margin-bottom: 2vh;
  font-size: 1.1rem;
  width: 55%;
  color: white;
}

#photoDeMoi {
  position: relative;
  z-index: 1;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  margin: 0 40% 0 60%;
  transform: translateY(8vh);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nom {
  margin: 0.6rem;
  padding: 2rem;
}

#projets {
  position: relative;
  background-color: #EEE1B3;
}

.container {
  display: flex;
  justify-content: space-around;
}

.card {
  margin: 5vh;
}
.card:hover .second {
  transform: translateY(0);
  opacity: 1;
  margin-top: -3px;
}
.card .second {
  transform: translateY(-70px);
  opacity: 0;
  background-color: #D9DCD6;
}
.card .second p {
  margin: 0;
}
.card .revealProject {
  transition: 1s;
}
.card .revealProject p {
  padding: 0.3rem;
  text-align: center;
}
.card .revealProject .techUtilise .tech-bleu {
  background-color: #223dda;
  border: solid 1px black;
  margin: 0.3rem;
}
.card .revealProject .techUtilise .tech-rose {
  background-color: #eb72d0;
  border: solid 1px black;
  margin: 0.3rem;
}
.card .revealProject .techUtilise .tech-vert {
  background-color: #20d15b;
  border: solid 1px black;
  margin: 0.3rem;
}
.card .revealProject .techUtilise .tech-orange {
  background-color: #e0a72a;
  border: solid 1px black;
  margin: 0.3rem;
}
.card .lienProjets {
  display: flex;
  justify-content: space-around;
}
.card .lienProjets a {
  padding: 0.4rem;
  text-decoration: underline;
}
.card h4 {
  background-color: #aeb8a3;
  padding: 3px;
  margin: 0;
  margin-top: -3px;
  text-align: center;
}

.lienGithub h1 {
  text-align: center;
  margin: 0;
  padding: 8vh 0 0 0;
}
.lienGithub a {
  display: flex;
  justify-content: space-around;
}

.texteContent {
  background-color: #2D2A32;
  padding: 8vh;
}

.waveTop {
  transform: translate(0, 2vh);
}

#aPropos {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: block;
}
#aPropos p {
  color: #F4D06F;
}
#aPropos ul {
  list-style: none;
}
#aPropos ul li {
  font-family: "Slabo", serif;
  color: #EF8275;
}
#aPropos ul li::before {
  content: "•   ";
  padding-right: 0.5rem;
  display: inline-block;
  color: #F4D06F;
}
#aPropos .gauche {
  width: 75%;
  padding: 0;
}
@media (min-width: 1200px) {
  #aPropos .gauche {
    padding: 0 15vh;
  }
}
#aPropos .gauche p {
  font-size: 16px;
}
@media (min-width: 768px) {
  #aPropos .gauche p {
    font-size: 1.6rem;
  }
}
#aPropos .droite {
  font-weight: bold;
  padding: 0;
}
@media (min-width: 1020px) {
  #aPropos .droite {
    padding: 0 15vh;
  }
}
#aPropos .droite p {
  font-size: 16px;
}
@media (min-width: 768px) {
  #aPropos .droite p {
    font-size: 1.6rem;
  }
}

hr {
  border: 1px solid #EF8275;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  margin: 15% auto;
  font-size: 1.3rem;
}
@media (min-width: 1020px) {
  .modal-content {
    font-size: 3rem;
  }
}
.modal-content .text {
  display: inline;
  color: #ABC28D;
  text-decoration: underline;
}
.modal-content br {
  display: inline;
}
@media (min-width: 1020px) {
  .modal-content br {
    display: none;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

.cursor {
  width: 5rem;
  height: 5rem;
  background-color: darkgrey;
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  pointer-events: none;
  visibility: hidden;
  animation: rotateCustomCursor 6s infinite;
  mix-blend-mode: difference;
}

@keyframes rotateCustomCursor {
  0% {
    transform: rotate(0deg);
    border-radius: 40% 55% 50% 61%;
  }
  50% {
    transform: rotate(180deg) scaleX(1.1) scaleY(0.8);
    border-radius: 55% 43% 60% 50%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 40% 55% 50% 61%;
  }
}
section {
  scroll-margin-top: 3rem;
}

/*# sourceMappingURL=style.css.map */
