// sass styles/style.sass styles/style.css

@import 'navbar_footer'
@import 'accueil'
@import 'sectionProjets'
@import 'sectionApropos'
@import 'contactModal'
html
    scroll-behavior: smooth
body
    margin: 0
a
    text-decoration: none
    color: #000
