@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,300&family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,300&family=Slabo+27px&display=swap");
.navBar {
  position: fixed;
  top: 0;
  width: 100%;
}
.navBar ul {
  list-style-type: none;
  overflow: hidden;
  padding: 2vh;
  margin: 0;
  background-color: #D9DCD6;
}
.navBar li {
  display: inline;
}
.navBar li a {
  text-decoration: none;
  color: #272838;
  padding: 2vh;
}
.navBar button {
  border: none;
  background-color: #D9DCD6;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
.navBar button:hover {
  cursor: pointer;
}

footer {
  background-color: #D9DCD6;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  color: black;
  margin: 0 1vh;
}
footer a:link {
  text-decoration: none;
}
footer a:visited {
  text-decoration: none;
}

#accueil {
  overflow: hidden;
  display: grid;
  grid-template-columns: 15% 1fr 1fr 15%;
  grid-template-rows: 15% 1fr 1fr;
  height: 100vh;
}
@media (min-width: 1200px) {
  #accueil {
    grid-template-rows: 15% 1fr 1fr 1fr;
  }
}
#accueil .description {
  z-index: -10;
  grid-column: 2/4;
  grid-row: 2/3;
}
@media (min-width: 1200px) {
  #accueil .description {
    grid-row: 2/4;
    grid-column: 2/3;
  }
}
#accueil .description p {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
}
@media (min-width: 376px) {
  #accueil .description p {
    font-size: 1.4rem;
  }
}
#accueil .description h1 {
  font-family: "Slabo 27px", serif;
}
#accueil .description h3 {
  font-family: "Cormorant Garamond", serif;
}
#accueil .description img {
  border-radius: 50%;
  width: 15vh;
  height: 15vh;
}
#accueil .description .photoNom {
  text-align: center;
}
#accueil .description .photoNom img {
  display: block;
  text-align: center;
  margin: auto;
}
#accueil .svg {
  width: auto;
  height: auto;
  align-self: flex-end;
  grid-row: 3/4;
  grid-column: 3/4;
  display: none;
}
@media (min-width: 376px) {
  #accueil .svg {
    display: block;
  }
}
@media (min-width: 1200px) {
  #accueil .svg {
    padding-top: 8vh;
    grid-row: 2/4;
    grid-column: 3/4;
  }
}

.container {
  display: flex;
  justify-content: space-around;
}

.card {
  margin: 5vh;
}
.card:hover .second {
  transform: translateY(0);
  opacity: 1;
  margin-top: -3px;
}
.card .second {
  transform: translateY(-70px);
  opacity: 0;
  background-color: #D9DCD6;
}
.card .second p {
  margin: 0;
}
.card .revealProject {
  transition: 1s;
}
.card .revealProject p {
  padding: 0.3rem;
  text-align: center;
}
.card .revealProject .techUtilise .tech-bleu {
  background-color: #223dda;
  border: solid 1px black;
  margin: 0.3rem;
}
.card .revealProject .techUtilise .tech-rose {
  background-color: #eb72d0;
  border: solid 1px black;
  margin: 0.3rem;
}
.card .revealProject .techUtilise .tech-vert {
  background-color: #20d15b;
  border: solid 1px black;
  margin: 0.3rem;
}
.card .revealProject .techUtilise .tech-orange {
  background-color: #e0a72a;
  border: solid 1px black;
  margin: 0.3rem;
}
.card .lienProjets {
  display: flex;
  justify-content: space-around;
}
.card .lienProjets a {
  padding: 0.4rem;
  text-decoration: underline;
}
.card h4 {
  background-color: #aeb8a3;
  padding: 3px;
  margin: 0;
  margin-top: -3px;
  text-align: center;
}

.lienGithub h1 {
  text-align: center;
  margin: 0;
  padding: 8vh 0 0 0;
}
.lienGithub a {
  display: flex;
  justify-content: space-around;
}

#aPropos {
  background-color: #aeb8a3;
  padding: 5vh;
  display: block;
}
@media (min-width: 1200px) {
  #aPropos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#aPropos p {
  font-family: "Cormorant Garamond", serif;
  color: #373737;
}
#aPropos li {
  font-family: "Slabo", serif;
  color: #373737;
}
#aPropos .gauche {
  width: 75%;
  padding: 0;
}
@media (min-width: 1200px) {
  #aPropos .gauche {
    padding: 0 15vh;
  }
}
#aPropos .gauche p {
  font-size: 16px;
}
@media (min-width: 768px) {
  #aPropos .gauche p {
    font-size: 1.6rem;
  }
}
#aPropos .droite {
  font-weight: bold;
  padding: 0;
}
@media (min-width: 1020px) {
  #aPropos .droite {
    padding: 0 15vh;
  }
}
#aPropos .droite p {
  font-size: 16px;
}
@media (min-width: 768px) {
  #aPropos .droite p {
    font-size: 1.6rem;
  }
}

hr {
  border: 1px solid black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  margin: 15% auto;
  font-size: 1.3rem;
}
@media (min-width: 1020px) {
  .modal-content {
    font-size: 3rem;
  }
}
.modal-content .text {
  display: inline;
  color: #ABC28D;
  text-decoration: underline;
}
.modal-content br {
  display: inline;
}
@media (min-width: 1020px) {
  .modal-content br {
    display: none;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

/*# sourceMappingURL=style.css.map */
