@media screen and (max-width: 600px) 
  h1
    color: black 

$mainColor : #01686B 
$accentColor: #F46060

#root
  height: 100vh
  overflow: hidden
  background: radial-gradient(circle, rgba(1,104,107,1) 55%, rgba(131,197,190,1) 100%)
#imageIndex
  img
    padding: .7rem  
.navbar 
  z-index: 10000
  position: fixed
  top: 0
  left: 0
  width: 100%
  a
    width: 33%
    display: inline
    font-size: 2rem
    color: #fff
    
    &:hover
      text-decoration: none 
      color: #AAC0AF
      transition-duration: .8s
  img
    margin-left: 3rem
    width: 10vh
    align-self: start  
    &:hover
      transform: 
      transform: scale(1.5)
      transition-duration: .8s
.accentColorText
  color: $accentColor
h1
  font-family: 'Syne', sans-serif 
// background: rgb(1,104,107);
// background: radial-gradient(circle, rgba(1,104,107,1) 55%, rgba(131,197,190,1) 100%);

input
  opacity: .7
button
  background-color: $accentColor!important  

