#videoZoo{
  width: 100vh;
  height: 100vh;
}

/*
https://charlesetiennev.github.io/AEC_Front_End2/programmation2/helloroutersworld/build/index.html

https://charlesetiennev.github.io/AEC_Front_End2/programmation2/apipost/apipost/build/index.html
https://charlesetiennev.github.io/AEC_Front_End2/programmation2/components/becflix/build/index.html
 */